@import '../../common.styl'

.app
  min-height 100vh
  background $background-light
  display grid
  grid-template-areas "sidebar content "\
                      "sidebar content "

.content
  grid-area content
  min-height 100vh
  background white
  padding 28px
  width 800px
  